.root {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: normal;
    -fx-text-fill: #cccccc;
    -fx-background-color: #585a5a;
}



.label {
    -fx-text-fill: #cccccc;
}



.ErrorText {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: bold;
    -fx-text-fill: #880000;
}



.label.AppInfoCategoryTitle {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #cccccc;
}
.Panes {
    -fx-background-insets: 0 !important;
    -fx-border-insets: 0 !important;
    -fx-padding: 0 !important;
    -fx-background-color: #585a5a !important;
    -fx-focus-color: transparent !important;
    -fx-faint-focus-color: transparent !important;
}



.APCTitle1 {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: bolder;
    -fx-font-size: 20px;
    -fx-fill: #cccccc;
}
.APCTitle2 {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-fill: #cccccc;
}



.INFO_APCTitle1 {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: bolder;
    -fx-font-size: 25px;
    -fx-fill: #cccccc;
}
.INFO_APCTitle2 {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: bold;
    -fx-font-size: 21px;
    -fx-fill: #cccccc;
}
.INFO_VersionInfo {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-fill: #cccccc;
}



.SETTINGSTITLE {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: bolder;
    -fx-font-size: 25;
    -fx-fill: #cccccc;
}
.settingsCategoryTitle {
    -fx-font-family: "NanumGothic";
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-fill: #cccccc;
}



.Buttons {
    -fx-background-color: #222222;
    -fx-text-fill: #cccccc;
    -fx-font-family: "NanumGothic";
    -fx-background-radius: 20px;
    -fx-padding: 8px 16px;
    -fx-cursor: hand;
}
.Buttons:hover {
    -fx-background-color: #2d2d2d;
}
.Buttons:pressed {
    -fx-background-color: #111111;
    -fx-translate-y: 1px;
}



.RadioButton {
    -fx-text-fill: #cccccc;
    -fx-font-family: "NanumGothic";
    -fx-cursor: hand;
}
.RadioButton:pressed {
    -fx-translate-y: 1px;
}
.RadioButton .radio {
    -fx-background-color: #222222;
}
.RadioButton:hover .radio {
    -fx-background-color: #2d2d2d;
}
.RadioButton:pressed .radio {
    -fx-background-color: #111111;
}
.RadioButton:selected .radio .dot {
    -fx-background-color: #cccccc;
    -fx-background-insets: 0;
}



.BackButton {
    -fx-background-color: #222222;
    -fx-text-fill: #cccccc;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}
.BackButton:hover {
    -fx-background-color: #2d2d2d;
}
.BackButton:pressed {
    -fx-background-color: #111111;
    -fx-translate-y: 1px;
}



.text-field {
    -fx-background-color: #222222;
    -fx-text-fill: #cccccc;
    -fx-prompt-text-fill: #888888;
    -fx-background-radius: 20px;
    -fx-border-color: transparent;
    -fx-border-radius: 20px;
}
.text-field:focused {
    -fx-background-color: #2d2d2d;
    -fx-border-color: #333333;
}



.check-box {
    -fx-text-fill: #cccccc;
    -fx-cursor: hand;
}
.check-box > .box {
    -fx-background-color: #222222;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-insets: 0;
}
.check-box:selected > .box > .mark {
    -fx-background-color: #eeeeee;
}
.check-box:selected > .box {
    -fx-background-color: #399ddf;
    -fx-border-color: #399ddf;
}



.table-view {
    -fx-background-color: #262626;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}
.table-view .column-header-background {
    -fx-background-color: #2a2a2a;
    -fx-border-radius: 20px, 20px, 0, 0;
    -fx-background-radius: 20px, 20px, 0, 0;
}
.table-view .column-header, .table-view .filler {
    -fx-background-color: #2a2a2a;
    -fx-border-radius: 20px, 20px, 0, 0;
    -fx-background-radius: 20px, 20px, 0, 0;
    -fx-border-color: transparent;
}
.table-view .column-header .label {
    -fx-text-fill: #cccccc;
    -fx-font-weight: bold;
}
.table-row-cell {
    -fx-background-color: #2d2d2d;
    -fx-border-color: transparent;
}
.table-row-cell:odd {
    -fx-background-color: #222222;
}
.table-row-cell:selected {
    -fx-background-color: #133750;
}
.table-cell {
    -fx-text-fill: #cccccc;
    -fx-border-color: transparent;
}



.context-menu {
    -fx-text-fill: #cccccc;
    -fx-background-color: #222222;
    -fx-border-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-color: 20px;
}



.menu-button {
    -fx-text-fill: #cccccc;
    -fx-background-color: #222222;
    -fx-border-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-color: 20px;
}
.menu-button:hover {
    -fx-background-color: #2d2d2d;
}
.menu-button:pressed {
    -fx-background-color: #333333;
    -fx-translate-y: 1px;
}